<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/header :: taghead">

</head>

<body class="body">
<div th:replace="fragments/menu :: tagmenu"></div>
<h3 th:text="${message} + ${client.nom} + ' ' + ${client.prenom}"></h3>
<table class="table table-bordered" style="text-align: center;">
    <thead>
    <th scope="col">Date de début</th>
    <th scope="col">Date de fin</th>
    <th scope="col">Delai</th>
    <th scope="col">Livre</th>
    </thead>
    <tbody>
    <tr th:each="emprunt : ${emprunts}">
        <td th:text="${emprunt.datedebut}"></td>
        <td th:text="${emprunt.datefin}"></td>
        <td  th:text="${emprunt.delai}"></td>
        <td>
            <ul>
                <li th:each="livre : ${empruntRepository.findByLivre(emprunt)}">
                <span th:text='${livre.titre+"-"+livre.auteur}'></span>
                </li>
            </ul>
        </td>
        <td><a class="btn btn-success" th:href="@{/emprunt/update/{id}(id=${client.id})}" th:text="modifier">MODIFIER</a></td>
    </tr>
    </tbody>
</table>
<a class="btn btn-dark" th:href="@{/client/all}">Retour</a>
</body>
<div th:replace="fragments/footer :: footer">&copy; 2021 Spring Boot </div>
</html>
</html>