<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/header :: taghead">

</head>

<body class="body">
<div th:replace="fragments/menu :: tagmenu"></div>
<a th:href="@{/livre/add}" class="btn btn-primary">Ajouter un livre</a>
<table class="table table-bordered" style="text-align: center; background-color: #398c9b">
    <thead>
    <th scope="col">Titre</th>
    <th scope="col">Auteur</th>
    <th scope="col">Action</th>
    </thead>
    <tbody>
    <tr th:each="livre : ${livres}">
        <td><a style="text-decoration: underline" th:href="@{getEmprunt/{id}(id=${livre.id})}"
               th:text="${livre.titre}"></a></td>
        <td th:text="${livre.auteur}"></td>
        <td><a class="btn btn-success" th:href="@{/livre/update/{id}(id=${livre.id})}" th:text="modifier">MODIFIER</a></td>
        <td><a class="btn btn-danger" th:href="@{/livre/delete/{id}(id=${livre.id})}" th:text="supprimer">SUPPRIMER</a></td>
    </tr>
    </tbody>
</table>
</body>
<div th:replace="fragments/footer :: footer">&copy; 2021 Spring Boot </div>
</html>
</html>