<!DOCTYPE html>
<html lang="fr">
<head th:replace="fragments/header :: taghead">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/menu :: tagmenu"></div>
<form th:action="@{{id}(id=${livre.id})}" th:object="${livreForm}" method="post">
    Titre:
    <input type="text" th:field="*{titre}" th:placeholder="${livre.titre}" />
    Auteur:
    <input type="text" th:field="*{auteur}" th:placeholder="${livre.auteur}"/>
    <input type="submit" value="Update" />
</form>
</body>
<div th:replace="fragments/footer :: footer">&copy; 2021 Spring Boot </div>
</html>
</html>