<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/header :: taghead">

</head>

<body class="body">
<div th:replace="fragments/menu :: tagmenu"></div>
    <form th:action="@{/client/add}" th:object="${clientForm}" method="post">
        Nom:
        <input type="text" th:field="*{nom}" />
        Prenom:
        <input type="text" th:field="*{prenom}" />
        <input class="btn" type="submit" value="Create" />
    </form>
</body>
<div th:replace="fragments/footer :: footer">&copy; 2021 Spring Boot </div>
</html>
</html>