<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/header :: taghead">
    <title>Voici la liste des clients</title>

</head>

<body>
<div th:replace="fragments/menu :: tagmenu"></div>
<a th:href="@{/client/add}" class="btn-primary">Ajouter un client</a>
<table class="table table-bordered" style="text-align: center; background-color: #398c9b">
    <thead>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">Action</th>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td><a style="color: white; text-decoration: underline" th:href="@{/client/getEmprunt/{id}(id=${client.id})}"
               th:text="${client.nom}"></a></td>
        <td style="color: white" th:text="${client.prenom}"></td>
        <td><a class="btn-success" th:href="@{/client/update/{id}(id=${client.id})}" th:text="modifier">MODIFIER</a></td>
        <td><a class="btn-danger" th:href="@{/client/delete/{id}(id=${client.id})}" th:text="supprimer">SUPPRIMER</a></td>
    </tr>
    </tbody>
</table>

</body>
<div th:replace="fragments/footer :: footer">&copy; 2021 Spring Boot </div>
</html>