<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title th:text="${titre}">Titre</title>
</head>
<body>
<h1 th:text="${titre}"></h1>
<form th:action="@{/client/update/{id}(id=${client.id})}" th:object="${clientForm}" method="post">
    Nom:
    <input type="text" th:field="*{nom}" th:placeholder="${client.nom}" />
    Prenom:
    <input type="text" th:field="*{prenom}" th:placeholder="${client.prenom}"/>
    <input type="submit" value="Update" />
</form>
<a th:href="@{/client/all}">Retour</a>
</body>
</html>